.content {
  &__post-title {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 50;
    transition: transform 0.3s ease;
    will-change: transform;
  }
  &__post-body {
    max-width: 680px;
    min-width: 0;
  }
}
.post-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(253, 213, 128, 0.75);
  backdrop-filter: blur(2px);

  &__inner {
    width: 100%;
    max-width: 1192px;
    min-width: 0;
    display: flex;
    align-items: center;
  }
  &__back-btn {
    flex: 0 1 auto;
  }
  &__title-box {
    flex: 1;
  }
  &__post-toc {
    position: absolute;
    right: 0;
    top: 64px;
  }
}
.post-body {
  a {
    color: #2b92fd;
    will-change: text-shadow;
    transition: text-shadow 0.2s ease-in;
    &:hover {
      text-shadow: 0 1px 2px #2b92fd90;
    }
    &:visited {
      color: #2b92fd;
    }
  }
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  cursor: pointer;
  > img {
    margin: 0;
    width: 16px;
    height: 16px;
  }
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  &__date {
    font-size: 0.8rem;
    color: #666;
  }
}
