.header {
  background-color: #ffb02c;
  height: 58px;
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 40px;
    height: 40px;
  }
  &__menu {
  }
}

.menu {
  display: flex;
  margin: 0;
  &__btn {
    margin: 0;
    > a {
      display: flex;
      align-items: center;
      height: 58px;
      padding: 0 8px;
      color: #292929;
      &:hover {
        color: #fff;
      }
    }
  }
}
